MONGO_HOST=milo-mongo
MONGO_PORT=27017
MONGO_DATABASE=milo
MONGO_USERNAME=milo_app
MONGO_PASSWORD=replace-with-the-same-app-password
ADMIN_USERNAME=admin
ADMIN_DISPLAY_NAME=ADMIN
ADMIN_PASSWORD=replace-with-a-long-random-admin-password
SESSION_TTL_DAYS=30
SESSION_COOKIE_SECURE=true
